﻿@model IEnumerable<ElevenNote.models.NoteListItemViewModel>

@{
    ViewBag.Title = "Index";
}

<body style="background-color: #a3a3a3">
    <h1 style="color: white">List of Notes</h1>
    @Html.AntiForgeryToken()
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table table-striped table-hover ">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.OrderOfImportance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStarred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
        </tr>

        @foreach (var item in Model.OrderBy(x => x.OrderOfImportance))
        { 
            if (item.Status == 1)
            {
                <tr class="danger rows">
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-xs btn-default dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Edit", "Edit", new { id = item.NoteId }) </li>
                                <li>@Html.ActionLink("Delete", "Delete", new { id = item.NoteId })</li>
                            </ul>
                        </div>

                    </td>
                    <td title="@item.TooltipNote">
                        @Html.DisplayFor(modelItem => item.OrderOfImportance, new { Id = item.NoteId })
                    </td>
                    <td title="@item.TooltipNote">
                        @Html.DisplayFor(modelItem => item.Status, new { Id = item.NoteId })
                    </td>
                    <td>
                        @Html.ActionLink(item.Title, "Details", new { id = item.NoteId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsStarred, new { Id = item.NoteId })
                    </td>
                    <td title="@item.TooltipNote">
                        @Html.DisplayFor(modelItem => item.CreatedUtc)
                    </td>
                </tr>
            }
            else if (item.Status == 2)
            {
                <tr class="warning rows">
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-xs btn-default dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Edit", "Edit", new { id = item.NoteId }) </li>
                                <li>@Html.ActionLink("Delete", "Delete", new { id = item.NoteId })</li>
                            </ul>
                        </div>

                    </td>
                    <td title="@item.TooltipNote">
                        @Html.DisplayFor(modelItem => item.OrderOfImportance, new { Id = item.NoteId })
                    </td>
                    <td title="@item.TooltipNote">
                        @Html.DisplayFor(modelItem => item.Status, new { Id = item.NoteId })
                    </td>
                    <td>
                        @Html.ActionLink(item.Title, "Details", new { id = item.NoteId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsStarred, new { Id = item.NoteId })
                    </td>
                    <td title="@item.TooltipNote">
                        @Html.DisplayFor(modelItem => item.CreatedUtc)
                    </td>

                </tr>
            }
            else if (item.Status == 3)
            {
                <tr class="success rows">
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-xs btn-default dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Edit", "Edit", new { id = item.NoteId }) </li>
                                <li>@Html.ActionLink("Delete", "Delete", new { id = item.NoteId })</li>
                            </ul>
                        </div>

                    </td>
                    <td title="@item.TooltipNote">
                        @Html.DisplayFor(modelItem => item.OrderOfImportance, new { Id = item.NoteId })
                    </td>
                    <td title="@item.TooltipNote">
                        @Html.DisplayFor(modelItem => item.Status, new { Id = item.NoteId })
                    </td>
                    <td>
                        @Html.ActionLink(item.Title, "Details", new { id = item.NoteId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsStarred, new { Id = item.NoteId })
                    </td>
                    <td title="@item.TooltipNote">
                        @Html.DisplayFor(modelItem => item.CreatedUtc)
                    </td>
                </tr>
            }
        }
    </table>
</body>

@section scripts {
    <script language="javascript" type="text/javascript">
       $(document).ready(function () {
           $("i[data-toggle='star']")
               .css({ "cursor": "pointer" })
               .click(function (e) {
                   var target = $(e.target);
                   var noteId = target.attr("data-id");
                   var starSet = target.hasClass("glyphicon-star");

                   $.ajax({
                       method: starSet ? "DELETE" : "POST",
                       url: "/api/notes/" + noteId + "/star",
                       data: null
                   })
                   .done(function (r) { target.removeClass(); target.addClass("glyphicon " + (starSet ? "glyphicon-star-empty" : "glyphicon-star")); })
                   .fail(function (r) { alert("Failed to change star status"); });
               });
           $('td[title!=""]').qtip(
               {
                   position: {
                       target: 'mouse'
                   }
               });
       });
    </script>
}