﻿@{
    ViewBag.Title = "Calendar";
}
<body style="background-color: #a3a3a3">
    <h2>@ViewBag.Title.</h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/embed?src=buckley183%40gmail.com&ctz=America/Los_Angeles"></iframe>
    </div>
</body>
