﻿@model ElevenNote.models.ContactFormViewModel

@{
    ViewBag.Title = "Contact Form";
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body style="background-color: #a3a3a3">
        <h4>Send your comments.</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.FormName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10" style="padding-bottom: 2%">
                @Html.TextBoxFor(m => m.FormName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FormName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FormEmail, new { @class = "col-md-2 control-label" })
            <div class="col-md-10" style="padding-bottom: 2%">
                @Html.TextBoxFor(m => m.FormEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FormEmail)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
            <div class="col-md-10" style="padding-bottom: 2%">
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Message)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Send" />
            </div>
        </div>
    </body>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
