﻿@{
    ViewBag.Title = "Home Page";
}
<body style="background-color: #a3a3a3">
    <section class="about-us" id="about-us">

        <div class="content">
            <h1 id="welcomemessage"></h1>
            <hr />
            <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>

            <div class="column-one">

                <div class="circle-one"></div>

                <h2>FAST</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>

            </div>

            <div class="column-two">

                <div class="circle-two"></div>

                <h2>LEAN</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>

            </div>


            <div class="column-three">

                <div class="circle-three"></div>

                <h2>BAD ASS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>

            </div>

        </div>

    </section>
</body>

@section scripts {
    <script language="javascript" type="text/javascript">
        var time = @DateTime.Now.Hour;

        if(time < 12)
            $('#welcomemessage').text($('#welcomemessage').text().replace('', "Good Morning, @User.Identity.Name"));
        else if (time > 12 && time < 18)
            $('#welcomemessage').text($('#welcomemessage').text().replace('', "Good Afternoon, @User.Identity.Name"));
        else if (time > 18)
            $('#welcomemessage').text($('#welcomemessage').text().replace('', "Good Evening, @User.Identity.Name"));
    </script>
}