﻿<td>
    <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-xs btn-default dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Edit", "Edit", new { id = item.NoteId }) </li>
            <li>@Html.ActionLink("Delete", "Delete", new { id = item.NoteId })</li>
        </ul>
    </div>

</td>
<td title="@item.TooltipNote">
    @Html.DisplayFor(modelItem => item.OrderOfImportance, new { Id = item.NoteId })
</td>
<td title="@item.TooltipNote">
    @Html.DisplayFor(modelItem => item.Status, new { Id = item.NoteId })
</td>
<td>
    @Html.ActionLink(item.Title, "Details", new { id = item.NoteId })
</td>
<td>
    @Html.DisplayFor(modelItem => item.IsStarred, new { Id = item.NoteId })
</td>
<td title="@item.TooltipNote">
    @Html.DisplayFor(modelItem => item.CreatedUtc)
</td>
